# exclude all files
*

# except
# core
!.gitignore
!README.md
!main.py
# assets
!assets
!assets/fonts
!assets/fonts/*
!assets/sounds
!assets/sounds/*
# data
!data
# engine
!engine
!engine/*.py
# entities
!entities
!entities/*.py
# graphics
!graphics
!graphics/*.py
# utils
!utils
!utils/*.py